.navbar {   
  width: 100%;
  background-color: rgb(89, 61, 51);
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(170,141,128);
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000;
}
.active {
  background-color: rgb(89, 61, 51);
}

body {
  background-color: rgb(255, 236, 173);
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: flex;
  justify-content: center;
  position: center;
  padding-left: 450px;
  /* padding-bottom: 50px; */
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0, auto;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.ul{
  display:flex;
  justify-content: center;
}

#video{
  display: flex;
  justify-content: center;
}

#imga{
  display: flex;
  justify-content: center;
  background-image:url(NATURE.jpg); 
  background-repeat: no-repeat;
  background-size:cover;
}
  
#image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  }

#logo{
 width: 50%;
}