
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: rgb(170,141,128);
  text-decoration: none;
  font-size: 17px;
  background-color: rgb(89, 61, 51);
}

.navbar {
  width: 100%;
  background-color: rgb(89, 61, 51);
  overflow: auto;
  position: fixed;
  top: 0;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: rgb(89, 61, 51);
}

#image{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 10px solid rgb(100, 70, 55) ;
}

body{
  background-color: #DFCF8B;
}

#imga{
  display: flex;
  justify-content: center;
  background-image:url(NATURE.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 50px;
}

.center{
  display: flex;
  justify-content: center;
}

#burned {
  display: flex;
  justify-content: center;
}

#burn{
  border: 5px solid rgb(89, 61, 51);
}

#ye {
  display: flex;
  justify-content: center;
  border: 5px ;
}

#som {
  display: flex;
  justify-content: center;
}

/* #yesyesyes {
  display: flex;
  justify-content: center;
} */